In [62]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [63]:
df= pd.read_csv("Walmart.csv")

In [64]:
df

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,$74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,$15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,$46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,$58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,$86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48
...,...,...,...,...,...,...,...,...,...,...,...
10046,9996,WALM056,Rowlett,Fashion accessories,$37,3.0,03/08/23,10:10:00,Cash,3.0,0.33
10047,9997,WALM030,Richardson,Home and lifestyle,$58,2.0,22/02/21,14:20:00,Cash,7.0,0.48
10048,9998,WALM050,Victoria,Fashion accessories,$52,3.0,15/06/23,16:00:00,Credit card,4.0,0.48
10049,9999,WALM032,Tyler,Home and lifestyle,$79,2.0,25/02/21,12:25:00,Cash,7.0,0.48
10050,10000,WALM069,Rockwall,Fashion accessories,$62,3.0,26/09/20,9:48:00,Cash,3.0,0.33

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10051 entries, 0 to 10050
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      10051 non-null  int64
 1   Branch          10051 non-null  object
 2   City            10051 non-null  object
 3   category        10051 non-null  object
 4   unit_price      10020 non-null  object
 5   quantity        10020 non-null  float64
 6   date            10051 non-null  object
 7   time            10051 non-null  object
 8   payment_method  10051 non-null  object
 9   rating          10051 non-null  float64
 10  profit_margin   10051 non-null  float64
dtypes: float64(3), int64(1), object(7)
memory usage: 863.9+ KB

In [66]:
df.describe()

         invoice_id      quantity        rating  profit_margin
count  10051.000000  10020.000000  10051.000000   10051.000000
mean    5025.741220      2.353493      5.825659       0.393791
std     2901.174372      1.602658      1.763991       0.090669
min        1.000000      1.000000      3.000000       0.180000
25%     2513.500000      1.000000      4.000000       0.330000
50%     5026.000000      2.000000      6.000000       0.330000
75%     7538.500000      3.000000      7.000000       0.480000
max    10000.000000     10.000000     10.000000       0.570000

In [67]:
df.isnull().sum()

invoice_id         0
Branch             0
City               0
category           0
unit_price        31
quantity          31
date               0
time               0
payment_method     0
rating             0
profit_margin      0
dtype: int64

In [68]:
df.dropna(inplace=True)

In [69]:
df.isnull().sum()

invoice_id        0
Branch            0
City              0
category          0
unit_price        0
quantity          0
date              0
time              0
payment_method    0
rating            0
profit_margin     0
dtype: int64

In [70]:
df.duplicated().sum()

np.int64(51)

In [71]:
df.drop_duplicates(inplace=True)

In [72]:
df.duplicated().sum()

np.int64(0)

In [73]:
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,$74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,$15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,$46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,$58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,$86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48

In [74]:
df["unit_price"] = df["unit_price"].str.replace("$","")
df["unit_price"]= df["unit_price"].astype(float)

In [75]:
df["total"]= df["unit_price"]* df["quantity"]
df["total"]

0       522.83
1        76.40
2       324.31
3       465.76
4       604.17
         ...
9995    111.00
9996    116.00
9997    156.00
9998    158.00
9999    186.00
Name: total, Length: 9969, dtype: float64

In [76]:
df["profit"]= df["total"]* df["profit_margin"]

In [77]:
df["cost"] = df["total"] - df["profit"]

In [78]:
df["date"] = pd.to_datetime(df["date"], format = "%d/%m/%y")

In [79]:
df["time"] = pd.to_datetime(df["time"], format= "%H:%M:%S")
df["hour"] = df["time"].dt.hour

In [80]:
df["time"] = df["time"].dt.time

In [81]:
df["time"]

0       13:08:00
1       10:29:00
2       13:23:00
3       20:33:00
4       10:37:00
          ...
9995    10:10:00
9996    14:20:00
9997    16:00:00
9998    12:25:00
9999    09:48:00
Name: time, Length: 9969, dtype: object

In [82]:
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin,total,profit,cost,hour
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,2019-01-05,13:08:00,Ewallet,9.1,0.48,522.83,250.9584,271.8716,13
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,2019-03-08,10:29:00,Cash,9.6,0.48,76.40,36.6720,39.7280,10
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,2019-03-03,13:23:00,Credit card,7.4,0.33,324.31,107.0223,217.2877,13
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,2019-01-27,20:33:00,Ewallet,8.4,0.33,465.76,153.7008,312.0592,20
4,5,WALM013,Irving,Sports and travel,86.31,7.0,2019-02-08,10:37:00,Ewallet,5.3,0.48,604.17,290.0016,314.1684,10

In [83]:
df["quantity"].min()

1.0

In [84]:
category_sales= df.groupby("category")["total"].sum().sort_values(ascending= False)
category_sales

category
Fashion accessories       489480.90
Home and lifestyle        489250.06
Electronic accessories     78175.03
Food and beverages         53471.28
Sports and travel          52497.93
Health and beauty          46851.18
Name: total, dtype: float64

In [85]:
bins= [3,5,8,10]
labels= ["low","Medium","High"]

df["rating_group"] = pd.cut(
    df["rating"],
    bins=bins,
    labels=labels,
    right=True,
    include_lowest=True
)

df[df["rating"] == 3.0]
df[df["rating"] == 10.0]

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin,total,profit,cost,hour,rating_group
60,61,WALM042,Bryan,Sports and travel,24.74,3.0,2019-02-15,17:47:00,Credit card,10.0,0.48,74.22,35.6256,38.5944,17,High
62,63,WALM037,League City,Sports and travel,55.07,9.0,2019-02-03,13:40:00,Ewallet,10.0,0.48,495.63,237.9024,257.7276,13,High
159,160,WALM094,Alamo,Sports and travel,93.39,6.0,2019-03-27,19:18:00,Ewallet,10.0,0.33,560.34,184.9122,375.4278,19,High
387,388,WALM034,College Station,Health and beauty,32.32,10.0,2019-02-20,16:49:00,Credit card,10.0,0.48,323.20,155.1360,168.0640,16,High
853,854,WALM093,Angleton,Electronic accessories,52.79,10.0,2019-02-25,11:58:00,Ewallet,10.0,0.33,527.90,174.2070,353.6930,11,High

In [86]:
df["year"]= df["date"].dt.year
df["month"]= df["date"].dt.month
df["month_name"]= df["date"].dt.month_name()
df["week"] = df["date"].dt.day_name()
df["week_number"] = df["date"].dt.isocalendar().week

In [87]:
df[["cost","profit","total"]] = df[["cost", "profit","total"]].round(2)

In [88]:
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,...,total,profit,cost,hour,rating_group,year,month,month_name,week,week_number
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,2019-01-05,13:08:00,Ewallet,9.1,...,522.83,250.96,271.87,13,High,2019,1,January,Saturday,1
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,2019-03-08,10:29:00,Cash,9.6,...,76.40,36.67,39.73,10,High,2019,3,March,Friday,10
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,2019-03-03,13:23:00,Credit card,7.4,...,324.31,107.02,217.29,13,Medium,2019,3,March,Sunday,9
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,2019-01-27,20:33:00,Ewallet,8.4,...,465.76,153.70,312.06,20,High,2019,1,January,Sunday,4
4,5,WALM013,Irving,Sports and travel,86.31,7.0,2019-02-08,10:37:00,Ewallet,5.3,...,604.17,290.00,314.17,10,Medium,2019,2,February,Friday,6

In [89]:
from sqlalchemy import create_engine
import urllib.parse

# 1. Database connection details
username = "root"
password = "yourpassword"
host = "localhost"
port = "3306"
database = "walmart_project"

# 2. Safely encode the password (essential due to '@')
safe_password = urllib.parse.quote_plus(password)

# 3. Create the engine
# Note: Ensure you have pymysql installed (pip install pymysql)
engine = create_engine(f"mysql+pymysql://{username}:{safe_password}@{host}:{port}/{database}")

# 4. Write DataFrame to MySQL
# 'replace' will overwrite the table; use 'append' to add to it
df.to_sql("walmart_sales", con=engine, if_exists="replace", index=False)

# 5. Read back a sample
sample_df = pd.read_sql("SELECT * FROM walmart_sales LIMIT 5;", con=engine)
print(sample_df)

   invoice_id   Branch         City                category  unit_price  \
0           1  WALM003  San Antonio       Health and beauty       74.69
1           2  WALM048    Harlingen  Electronic accessories       15.28
2           3  WALM067  Haltom City      Home and lifestyle       46.33
3           4  WALM064      Bedford       Health and beauty       58.22
4           5  WALM013       Irving       Sports and travel       86.31

   quantity       date            time payment_method  rating  ...   total  \
0       7.0 2019-01-05 0 days 13:08:00        Ewallet     9.1  ...  522.83
1       5.0 2019-03-08 0 days 10:29:00           Cash     9.6  ...   76.40
2       7.0 2019-03-03 0 days 13:23:00    Credit card     7.4  ...  324.31
3       8.0 2019-01-27 0 days 20:33:00        Ewallet     8.4  ...  465.76
4       7.0 2019-02-08 0 days 10:37:00        Ewallet     5.3  ...  604.17

   profit    cost  hour  rating_group  year  month  month_name      week  \
0  250.96  271.87    13          High  2019      1     January  Saturday
1   36.67   39.73    10          High  2019      3       March    Friday
2  107.02  217.29    13        Medium  2019      3       March    Sunday
3  153.70  312.06    20          High  2019      1     January    Sunday
4  290.00  314.17    10        Medium  2019      2    February    Friday

  week_number
0           1
1          10
2           9
3           4
4           6

[5 rows x 21 columns]

In [90]:
df= df.to_csv("Walmart_clean.csv")